apiVersion: v2
actions:
  - name: "Launch K6 test"
    events:
      - name: "sh.keptn.event.k6-component.triggered"
    tasks:
      - name: "k6-component"
        maxPollDuration: 900
        image: hrexed/k6-productcatalog:0.4
        env:
          - name: PROJECT
            value: "$.data.project"
            valueFrom: event
          - name: STAGE
            value: "$.data.stage"
            valueFrom: event
          - name: K6_PROMETHEUS_REMOTE_URL
            value: http://prometheus-kube-prometheus-prometheus.default.svc.cluster.local:9090/api/v1/write
            valueFrom: string
