apiVersion: v2
actions:
  - name: "Launch K6 test"
    events:
      - name: "sh.keptn.event.k6.triggered"
    tasks:
      - name: "k6"
        maxPollDuration: 650
        args: [ "--vus", "50", "-d", "10m" ]
        image: hrexed/xk6-dynatrace-test:0.1
        env:
          - name: FRONTEND_ADDR
            value: "onlineboutique.34.78.247.174.nip.io"
            valueFrom: string
          - name: K6_DYNATRACE_URL
            value: https://bix24852.dev.dynatracelabs.com
            valueFrom: string
          - name: K6_DYNATRACE_APITOKEN
            value: dt0c01.R26V3Q3HVRHUCSTWJ66STUYM.BLP3EU2FTNBL5GBAC42S7TBGOJRCAYFSV7BGFJAM7RU7QJKR6GOCJAITLLSX5CIA
            valueFrom: string
